body{
    background-color: #F5F5F5!important;
}

.button-sm-orange {
    display: inline-block;
    padding: 5px 25px;
    background: #ff6b00;
    font-weight: bold;
    color: #fff;
    border-radius: 16px;
    border: 2px solid #ff6b00;
}

.button-sm-orange.active,
.button-sm-orange:hover {
  background: transparent;
  color: #ff6b00;
}

.button-sm-orange:disabled,
.button-sm-orange[disabled]{
    pointer-events: none;
    opacity: 0.3;
}

.bg-orange{
    background: #ff6b00;
    color: white;
}

.btn-sm{
    font-size: .6rem!important;
}

.boton-sin-fondo {
    display: inline-block;
    padding: 5px 25px;
    color: #000;
    border-radius: 16px;
    background-color: transparent;
    border: 1px solid #000;
}