.my-pagination ::ng-deep .ngx-pagination .current {
    background: white;
    border-radius: .5rem;
    color: #ff6b00;
    border: 1px solid #ff6b00;
  }

  .backdrop{
    background-color:rgba(0,0,0,0.6);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    }

    