<div class="card">
  <div class="card-body">
    <h5 class="card-title">Datos del empleado</h5>
    <form [formGroup]="empleadoPost" (ngSubmit)="guardar()" autocomplete="off">
      <div class="row mb-2">
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label for="brm" class="form-label">BRM</label>
            <input id="brm" formControlName="brm" type="text" class="form-control" />
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="puesto" class="form-label">Puesto</label>
          <select formControlName="puesto" id="puesto" class="form-select py-1">
            <option value="Desarrollador FrontEnd Sr">Desarrollador FrontEnd Sr</option>
            <option value="Desarrollador FrontEnd Jr">Desarrollador FrontEnd Jr</option>
          </select>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-6 mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" id="nombre" formControlName="nombre" class="form-control" />
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label" for="imagen">Foto</label>
          <input type="file" (change)="handleUpload($event)" class="form-control" id="imagen" formControlName="imagen"
            accept=".jpg" />
        </div>
      </div>
      <button type="submit" class="button-sm-orange" id="saveButton" [disabled]="empleadoPost.invalid">Agregar</button>
    </form>
  </div>
</div>

<div class="card mt-4 text-center">
  <div class="card-body">
    <h2 class="card-title">Empleados</h2>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>BRM</th>
            <th>Nombre</th>
            <th>Foto del empleado</th>
            <th>Puesto</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empleado of empleados | paginate: { itemsPerPage: 10, currentPage: p }">
            <td>{{empleado.brm}}</td>
            <td>{{empleado.nombre}}</td>
            <td>{{empleado.imagen}}</td>
            <td>{{empleado.puesto}}</td>
            <td>
              <button (click)="eliminar(empleado)" type="button"
                class="btn btn-sm p-2 btn-danger shadow-0 me-2 mb-2">Borrar</button>
              <button type="button" class="btn btn-sm p-2 btn-primary shadow-0 mb-2"
                (click)="openModal(empleado)">Editar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>

</div>

<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal p-2" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Datos de empleado</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="onCloseHandled()"></button>
      </div>
      <form [formGroup]="empleadoEdit" (ngSubmit)="actualizar()" autocomplete="off">

        <div class="modal-body text-center">
          <div class="d-md-flex justify-content-center">
            <div class="p-2">
              <div class="form-group mb-3">
                <img *ngIf="imgEdit!=null" class="img-thumbnail" style="width: 50%!important;" [src]="'data:image/jpeg;base64,'+imgEdit" alt="">
              </div>
              <div class="form-group mb-3">
                <label for="nombre" class="form-label">Foto</label>
                <input type="file" class="form-control" (change)="handleUploadEdit($event)" formControlName="imagen" name="imagen" accept=".jpg" />
              </div>
              <div class="form-group mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" id="nombre" formControlName="nombre" class="form-control" />
              </div>
              <div class="form-group mb-3">
                <label for="puesto" class="form-label">Puesto</label>
                <select formControlName="puesto" id="puesto" class="form-select py-1">
                  <option value="Desarrollador FrontEnd Sr">Desarrollador FrontEnd Sr</option>
                  <option value="Desarrollador FrontEnd Jr">Desarrollador FrontEnd Jr</option>
                </select>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="boton-sin-fondo" (click)="onCloseHandled()">Cancelar</button>
          <button type="submit" class="button-sm-orange" id="btnActualizar">Actualizar</button>
        </div>
      </form>

    </div>
  </div>
</div>